@import "./variable";
@import "./mixin";

html{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    background-color: $couleur1;
    color: white;
    margin: 0;

    body{
        width: 100%;
        margin: 0;
    }

    h1{

    }
    
    h2{
    
    }

    .container{
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    
    .container-col{
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .bouton{
        border: 2px solid $couleur4;
        text-align: center;
        width: 70vw;
    }

    .exercices{
        height: 50vh;
    }
}

#burger{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .Bu{
        margin: 3px auto;
        width: 40px;
        height: 5px;
        border-radius: 5px;
        background-color: $couleur4;
        transition: $transition;
    }
}